:root {
    --main-userName: '';
}

html{
    scroll-behavior: smooth !important;
}

.test {
    animation: name duration timing-function delay iteration-count direction fill-mode;
}

/* Default: grab */
.swiper {
    cursor: grab;
}

/* When user clicks/holds: grabbing */
.swiper:active {
    cursor: grabbing;
}

.swiper-pagination {
    position: relative !important;
    margin-top: 15px;
    /* Space below the slides */
    top: auto !important;
    bottom: auto !important;
}

.MuiDataGrid-columnHeaderTitle {
    line-height: inherit !important;
}

/* singleSelect => top right error */
.MuiDataGrid-cell {
    display: flex;
    align-items: center;
}


@media (max-width: 600px) {
    .MuiDataGrid-filterForm {
        flex-direction: column !important;
    }

    .MuiFormControl-root {
        width: 100% !important;
    }
}

.css-heg063-MuiTabs-flexContainer {
    display: 'flex';
    justify-content: "center";
}

::-webkit-scrollbar {
    width: 4px !important;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #00a76f;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
}

/* .plyr__video-wrapper {
    pointer-events: none !important;
} */

/* Hide "Up Next" suggestions */
.ytp-pause-overlay {
    display: none !important;
}

/* Hide the "More videos" end screen */
.ytp-endscreen-content {
    display: none !important;
}


.plyr {
    position: relative;
}

.plyr::after {
    content: var(--main-userName);
    position: absolute;
    pointer-events: none;
    background-color: transparent;
    color: red;
    animation: floatUpDown 60s alternate-reverse infinite;
    /* animation-delay: 60s; */
    top: 50px;
    opacity: .4;
}

/* ### */
.plyr__controls {
    /* width: 80px; */
    height: 80px;
    /* left: auto !important; */
    /* background: transparent !important; */
    /* background-color: red !important; */
    /* display: none !important; */
}

/* .plyr__time,
.plyr__progress__container {
    display: none !important;
} */

.fly-me {
    position: absolute;
    top: 0;
    left: 80px;
    width: 100%;
    height: 30%;
    /* background-color: red; */
}

.onqual {
    position: absolute;
    top: 53px;
    width: 100%;
    height: 50px;
    /* background-color: green; */
}

@media screen and (min-width: 900px) {
    .fly-me {
        width: 100%;
        left: 0;
        height: 100%;
    }
}

.control--overlaid {
    z-index: 2 !important;
}

[data-plyr="fullscreen"] {
    display: inline-block !important;
    z-index: 2;
}

@keyframes floatUpDown {
    0% {
        right: 0;
    }

    25% {
        top: 50%;
        right: 25%;
        /* Adjust for more movement */
    }


    40% {
        top: 50%;
        right: 25%;
        /* Adjust for more movement */
    }

    50% {
        top: 50%;
        right: 50%;
        /* Adjust for more movement */
    }

    80% {
        top: 50%;
        right: 50%;
        /* Adjust for more movement */
    }

    90% {
        top: 85%;
        right: 85%;
        /* Adjust for more movement */
    }

    100% {
        top: 85%;
        right: 85%;
        /* Adjust for more movement */
    }
}