* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'main'; 
  /* Graphic school font */
  src: url('/fonts/main-font.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Rubik";
  src: url("/fonts/Rubik-VariableFont_wght.ttf") format("truetype-variations"),
       url("/fonts/Rubik-VariableFont_wght.ttf") format("truetype");
  font-weight: 300 900;   /* Rubik's actual variable range */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'second';
  src: url('/fonts/second.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


body {
  margin: 0;
  font-family: 'Segoe UI', 'Roboto',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.page-wrapper {
  overflow-x: clip;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@keyframes move {
  50% {
    transform: translateX(50px);
  }

  100% {
    transform: translateX(0);

  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}